/*
 * @Author: Alan.zheng 
 * @Date: 2017-12-08 16:34:19 
 * @Last Modified by: Alan.zheng
 * @Last Modified time: 2017-12-08 16:37:41
 */

.contaner {
  width: 980px;
  margin: 0 auto;
  padding: 50px 0;
}

.crop-file {
  position: relative;
}

.file-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  opacity: 0;
}

.btn-img {
  display: block;
  width: 100%;
  height: 36px;
  color: #fff;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgb(7, 134, 219);
  font-size: 14px;
  line-height: 36px;
}

.crop-view {
  margin: 15px 0;
}

.crop-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  content: ' ';
  background: rgba(0, 0, 0, .5);
}

.crop-container {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 800px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}

.crop-modal-header,
.crop-modal-footer {
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}

.crop-modal-footer {
  text-align: right;
  border-top: 1px solid #eee;
  border-bottom: 0;
}

.crop-modal-header .crop-modal-close {
  float: right;
  cursor: pointer;
}

.crop-modal-btn {
  padding: 8px 30px;
  cursor: pointer;
  color: #fff;
  border: 0;
  background: rgb(7, 134, 219);
}

.crop-modal-img img {
  max-width: 100%;
}
