/*
 * @Author: Alan.zheng 
 * @Date: 2017-12-08 16:34:19 
 * @Last Modified by: Alan.zheng
 * @Last Modified time: 2017-12-12 11:25:45
 */

.contaner {
  width: 980px;
  margin: 0 auto;
  padding: 50px 0;
}

.crop-file {
  position: relative;
}

.file-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 36px;
  opacity: 0;
}

.btn-img {
  display: inline-block;
  width: 200px;
  height: 36px;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid rgb(7, 134, 219);
  color: rgb(7, 134, 219);
  font-size: 14px;
  line-height: 36px;
  margin-right: 10px;
}

.btn-img.disabled {
  border-color: #eee;
  color: gray;
}

.crop-view {
  margin: 15px 0;
}